body, h1 {
  font-family: 'Lato', sans-serif !important;
  font-weight: 300 !important;
}
.triangle {
  width: 100%;
  height: 0;
  border-top: 120px solid #000;
  border-right: 500px solid transparent;
  position: absolute;
}
p {
  padding: 15px 0 0 0;
}
.col-md-10.col-md-offset-1 {
  margin: 45px;
}
ul, li {
  list-style: none;
  display: inline;
  margin: 0 30px 0 0;
  padding: 0px;
}
/*#homepage .col-md-6 img.proj {
  position: relative;
  right: -130px;
}*/
/*#homepage .col-md-6 {
  padding: 50px 50px 0px 150px;
  position: fixed;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}*/